<div id="container">
    <div id = "header">
        <div id="logo"><h1>Little Planet</h1></div>

        <br>

            <div id="nav">
                <p>
                    <a  [routerLink]="['/home']" routerLinkActive="active" href = "../home/home.component.html" class = "navButton">Home</a>
                    <a  [routerLink]="['/goal-setting']" routerLinkActive="active" href = "../goal-setting/goal-setting.component.html" class = "navButton">Goals</a>
                    <a  [routerLink]="['/tracker']" routerLinkActive="active" href = "../tracker/tracker.component.html" class = "navButton">Progress Tracker</a>
                    <a  [routerLink]="['/rewards']" routerLinkActive="active" href = "../rewards/rewards.component.html" class = "navButton">Rewards Library</a>
                    <a  [routerLink]="['/registration']" routerLinkActive="active" href = "../registration/registration.component.html" class = "navButton">Login</a>

                </p>
            </div>
    </div>

    <div id = "site_content">
        <h2>Form Your Habits to Build Your Planet</h2>
        <div id = "goal_list">
            <!-- <a class="goal-list-item is-active">Goal #1</a> -->
            <!-- <a class="goal-list-item">Goal #1</a>
            <a class="goal-list-item">Goal -- #12</a>
            <a class="goal-list-item">Goal #1</a> -->
            <ul>
              <li *ngFor= "let item of goal_list">
                <a class="goal-list-item" [routerLink]="['/goal-content/',item.goal_num ]" >{{item.goal_num}}--{{item.goal_name}}</a>
                
              </li>
            </ul>
<!--
            <h3> <button class = "otherButton">Goal1 temporary text</button></h3>
            <h3> <button class = "otherButton">Goal1 temporary text</button></h3>
            <h3> <button class = "otherButton">Goal1 temporary text</button></h3>
             -->
        </div>

    </div>


</div>

<!-- <p>{{title}}</p> -->
