img {
    max-width: 600px;

}

h1, h2, h3 {
    text-align: center;
}

body {
    text-align: center; /* This is a hack for older browsers to center the page */
}

strong {
  border-radius:100%;
  -webkit-transform:translate(355px,270px) rotate(0deg);
  background:rgba(255,162,0,1);
  color:#fff;
  font-size:48px;
}

#container {
    margin: 0 auto;    /* This centers the page in modern browsers */
    text-align: left;  /* This is a hack for older browsers to center the page */
    width: 960px;      /* This sets our total page width */
}

#header {
    width: 960px;      /* This sets the header to stretch the full page width */
}

#content {
    float: right;      /* This causes the content to move to the right */
    width: 700px;      /* We need to set the width whenever we float an element */
}

#goal_list, #goal_list a {
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    color: black;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 8px;
}

#goal_list a:hover {
    color: silver;
    border-width: 2px;
}

.goal-list-item {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin: 10px;
    width: auto;
    -webkit-border-radius: padding-box;
}

.is-complete{
    text-decoration: line-through;
    opacity: 0.8;
}

.is-active {
    border-color: silver;
    border-width: 2px;
    text-shadow: 2px;
}
