<div id="container">
    <div id = "header">
        <div id="logo"><h1>Little Planet</h1></div>

          <br>

            <div id="nav">
                <p>
                    <a  [routerLink]="['/home']" routerLinkActive="active" href = "../home/home.component.html" class = "navButton">Home</a>
                    <a  [routerLink]="['/goal-setting']" routerLinkActive="active" href = "../goal-setting/goal-setting.component.html" class = "navButton">Goals</a>
                    <a  [routerLink]="['/tracker']" routerLinkActive="active" href = "../tracker/tracker.component.html" class = "navButton">Progress Tracker</a>
                    <a  [routerLink]="['/goal-content']" routerLinkActive="active" href = "../goal-content/goal-content.component.html" class = "navButton">Goals Content</a>
                    <a  [routerLink]="['/rewards']" routerLinkActive="active" href = "../rewards/rewards.component.html" class = "navButton">Rewards Library</a>
                    <a  [routerLink]="['/registration']" routerLinkActive="active" href = "../registration/registration.component.html" class = "navButton">Login</a>

                </p>
            </div>
    </div>

    <div id = "site_content">
        <h2>Your Planet View</h2>

        <br>

        <img src = "assets/images/elena-mozhvilo-planet-unsplash.jpg" alt = "This is Your Planet View"/>

        <br>
        <br>

        <div class="animate box">
          <span>Total goals achieved  :{{goals_achieved}}</span>
        </div>


        <!-- <ul>
            <li *ngFor = "let item of list; let key = index">
                {{key}} --- {{item.title}}
            </li>

        </ul> -->
    </div>
</div>


