<div id="container"> 
    <div id = "header">
        <div id="logo"><h1>Little Planet</h1></div>

            <div id="nav">
                <p>
                    <a href = "../home/home.component.html" class = "navButton">Home</a>
                    <a href = "../goal-setting/goal-setting.component.html" class = "navButton">Goals</a>
                    <a href = "../tracker/tracker.component.html" class = "navButton">Progress Tracker</a>
                    <a href = "../rewards/rewards.component.html" class = "navButton">Rewards Library</a>
                    <a href = "../registration/registration.component.html" class = "navButton">Login</a>
                    
                </p>
            </div>
    </div>
    
    <div id = "site_content">
        <h2>Write Down Your Goals</h2>
        <h3> Goal: <input type = "text"></h3>
        <h3> Duration: <input type = "text"></h3> 
        <h3> Details: <input type = "text"></h3>
        <div id = "decision">
            <button class = "otherButton">Cancel</button>
            <button class = "otherButton">Confirm</button>
        </div>
        <!-- This is to test form content -->
        <!-- <div class = "goal_form">
            <ul>
                <li>Goal:  <input type = "text" id = "goal_name"></li>
                <li>Duration: <input type = "text" id = "goal_duration"></li>
                <li>Details: <input type = "text" id = "goal_details"></li>
            </ul>

            <button class = "otherButton">Cancel</button>
            <button (click) = "doSubmist()" class = "otherButton">Confirm</button>
        </div> -->
        
    </div>
</div>




<!-- <h1>Little Planet</h1>
<h2>Set Your Goals</h2>
<div>
    {{startDay | date: 'dd-MM-yyyy HH:mm:ss'}}
</div>

<div id = "nav">
    
    <p>
        <a href = "../home/home.component.html" class = "navButton">Home</a>
        <a href = "../goal-setting/goal-setting.component.html" class = "navButton">Set Goals</a>
        <a href = "../tracker/tracker.component.html" class = "navButton">Progress Tracker</a>
        <a href = "../rewards/rewards.component.html" class = "navBbutton">Rewards Library</a>
    </p>

  
</div> -->