<div id="container">
    <div id = "header">
        <div id="logo"><h1>Little Planet</h1></div>
          <br>
          <br>
            <div id="nav">
                <p>
                    <a  [routerLink]="['/home']" routerLinkActive="active" href = "../home/home.component.html" class = "navButton">Home</a>
                    <a  [routerLink]="['/goal-setting']" routerLinkActive="active" href = "../goal-setting/goal-setting.component.html" class = "navButton">Goals</a>
                    <a  [routerLink]="['/tracker']" routerLinkActive="active" href = "../tracker/tracker.component.html" class = "navButton">Progress Tracker</a>
                    <a  [routerLink]="['/rewards']" routerLinkActive="active" href = "../rewards/rewards.component.html" class = "navButton">Rewards Library</a>
                    <a  [routerLink]="['/registration']" routerLinkActive="active" href = "../registration/registration.component.html" class = "navButton">Login</a>

                </p>
            </div>
    </div>

    <br>
    <br>


    <div id = "site_content">
        <h2>Welcom Back</h2>

        <br>
        <br>

        <h2>Be a Member</h2>

        <br>

        <h2>UserName: <input type = "text" [(ngModel)]='list.userName' ></h2>

        <br>

        <h2>Email: <input type = "text" [(ngModel)]='list.email'></h2>

        <br>

        <h2>Password: <input type = "text" [(ngModel)]='list.password'></h2>

        <br>
        <br>

        <div id = "decision">
            <button (click) = "login()" class = "otherButton">Login</button>
            <button (click) = "create_account()" class = "otherButton">Create a New Account</button>
            <button (click) = "find_password()" class = "otherButton">Find My Password</button>
        </div>

    </div>
</div>

<!-- <h1>{{ rTitle }}</h1>

<div class = "people_list">
    <ul>

    </ul>
</div> -->

<!--
    <h3>Email Address</h3>
<div>
    <Strong>{{passWd}} <br> {{email}}</Strong>
    <br>
    <button (click) = "getData()" >Email Address</button>
    <br>
    keyDown
    <input type = "text" (keydown) = "keyDown($event)"/>
    <br>
    keyUp
    <input type = "text" (keyup) = "keyUp($event)"/>
    <br>
    <button (click) = "getData()">Passward</button>
    <br>
    <button (click) = "run()">Login</button>
    <br>
    <button (click) = "setData()">Create a New Account</button>
    <br>
    <button (click) = "runEvent($event)">Run a Method to gain event</button>
    <br>
    <button >Forget My Passward</button>

</div>
-->

<!--
    <div>
    <h3>双向数据绑定--MVVM 只是针对表单</h3>
    如果要使用双向数据绑定，需要引入module
    <input type = "text" [(ngModel)] = 'keywords' />
    {{keywords}}

    <button (click) = "changeKeywords()"> change the value of keywords</button>
    <button (click) = "getKeywords()"> get the value of keywords</button>


    </div>
 -->

